.background {
  background: #ffff80 url(/assets/super-mario-kart/background.png);
  background-repeat: repeat-x;
  animation: bg-loop infinite 4s 0s linear;
  animation-play-state: paused;

  @keyframes bg-loop {
    0% {
      background-position: 0 bottom;
    }
    100% {
      background-position: -775px bottom;
    }
  }
}

.background-running {
  animation-play-state: running;
}

.bowser {
  background: url(/assets/super-mario-kart/sprite-bowser.png);
  background-position: 0px;
  background-repeat: no-repeat;
}

.dk {
  background: url(/assets/super-mario-kart/sprite-dk.png);
  background-position: 0px;
  background-repeat: no-repeat;
}

.goomba {
  background: url(/assets/super-mario-kart/sprite-goomba.png);
  background-position: 0px;
  background-repeat: no-repeat;
}

.luigi {
  background: url(/assets/super-mario-kart/sprite-luigi.png);
  background-position: 0px;
}

.mario {
  background: url(/assets/super-mario-kart/sprite-mario.png);
  background-position: 0px;
  background-repeat: no-repeat;
}

.peach {
  background: url(/assets/super-mario-kart/sprite-peach.png);
  background-position: 0px;
  background-repeat: no-repeat;
}

.toad {
  background: url(/assets/super-mario-kart/sprite-toad.png);
  background-position: 0px;
  background-repeat: no-repeat;
}

.yoshi {
  background: url(/assets/super-mario-kart/sprite-yoshi.png);
  background-position: 0px;
  background-repeat: no-repeat;
}

.running {
  animation: shake infinite 0.2s 0s linear;

  @keyframes shake {
    0% {
      transform: translate(0, 4px);
    }
    25% {
      transform: translate(0, 0px);
    }
    50% {
      transform: translate(0, -4px);
    }
    100% {
      transform: translate(0, 0px);
    }
  }
}

.spin {
  animation: spin infinite 0.6s 0s step-start;

  @keyframes spin {
    0% {
      background-position: 0 0;
    }
    11% {
      background-position: -108px 0;
    }
    22% {
      background-position: -216px 0;
    }
    33% {
      background-position: -324px 0;
    }
    44% {
      background-position: -432px 0;
    }
    55% {
      background-position: -540px 0;
    }
    66% {
      background-position: -648px 0;
    }
    77% {
      background-position: -756px 0;
    }
    88% {
      background-position: -864px 0;
    }
  }
}
