@font-face {
  font-family: 'ARCADE CLASSIC';
  src: url('/fonts/ARCADECLASSIC.TTF');
  font-style: normal;
}

@font-face {
  font-family: 'Retro Computer';
  src: url('/fonts/retro_computer_personal_use.ttf');
  font-weight: normal;
  font-style: normal;
}
